# Export the following names
useDynLib(SNPRelate,
    gnrAlleleStrand, gnrAppendGenoSpaceStrand,
    gnrChromParse, gnrChromParseNumeric, gnrChromRangeNumeric,
    gnrConvBEDFlag, gnrConvBED2GDS, gnrConvGDS2BED, gnrConvGDS2EIGEN,
    gnrConvGDS2PED, gnrCopyGeno, gnrCopyGenoMem, gnrDiss,
    gnrDistPerm, gnrEIGMIX, gnrErrMsg, gnrFst, gnrHWE, gnrGetGenoDim,
    gnrGRM, gnrIBD_KING_Homo, gnrIBD_KING_Robust, gnrIBD_LogLik,
    gnrIBD_LogLik_k01, gnrIBD_MLE, gnrIBD_MLE_Jacquard, gnrIBD_PLINK,
    gnrIBDSelSampID_List1, gnrIBDSelSampID_List2, gnrIBSAve,
    gnrIBSNum, gnrIndInb, gnrIndInbCoef, gnrSSEFlag, gnrLDMat,
    gnrLDpair, gnrLDpruning, gnrParseGEN, gnrParsePED,
    gnrParseVCF4Init, gnrParseVCF4, gnrPairScore,
    gnrPairIBD, gnrPairIBDLogLik, gnrPCA, gnrPCACorr, gnrPCASampLoading,
    gnrPCASNPLoading, gnrSampFreq, gnrSelSNP_Base, gnrSelSNP_Base_Ex,
    gnrSetGenoSpace,
    gnrSlidingNumWin, gnrSlidingWindow,
    gnrSNPFreq, gnrSNPRateFreq, gnrStrandSwitch
)

# Export all names
exportPattern("^snpgds*")
export(.onAttach)

# Import all packages listed as Imports or Depends
import(gdsfmt)
